* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    color: $darkGray;
    background-color: $background;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}