$black: #1b1b1b;
$dark-green: #149b59;
$light-green: #6caf36;
$white: #fff;
$yellow: #ffcc4f;
$yellow-light: #ffd366;
$footer: #191919;
$light-gray: #888;

@mixin mediaquery($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}
