* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
          font-kerning: auto; }

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  color: #2b2d31;
  background-color: #f9fafc; }

body {
  margin: 0;
  overflow-x: hidden;
  height: 100%; }

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

@media screen and (min-width: 120px) and (max-width: 720px) {
  .container {
    padding: 0 20px; } }

header {
  margin-top: 65px; }

.header-flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (min-width: 120px) and (max-width: 720px) {
    .header-flex-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.personal-info,
.contact-info {
  width: 100%;
  height: 100%; }

.personal-info {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2 1 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .personal-info img {
    height: 180px;
    width: 180px; }
  @media screen and (min-width: 120px) and (max-width: 720px) {
    .personal-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1 1 0%; } }

.name-title {
  margin-left: 40px; }
  .name-title h2 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 35px;
    color: #134db6; }
  .name-title .position {
    font-size: 17px; }
  @media screen and (min-width: 120px) and (max-width: 720px) {
    .name-title {
      margin-top: 25px;
      margin-left: 0; }
      .name-title .position {
        display: block;
        margin-top: 5px;
        font-size: 18px; } }

.contact-info {
  text-align: right;
  border-right: 2px solid #134db6;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1 1 0%; }
  .contact-info ul {
    display: inline-block;
    list-style: none;
    margin-right: 35px;
    line-height: 25px;
    letter-spacing: 0.3px; }
  .contact-info .mail:hover,
  .contact-info .tel:hover {
    text-decoration: underline; }
  .contact-info .dribbble {
    text-decoration: none;
    color: #ea4c89; }
    .contact-info .dribbble:hover {
      text-decoration: underline; }
  .contact-info .linkedin {
    text-decoration: none;
    color: #0077B5; }
    .contact-info .linkedin:hover {
      text-decoration: underline; }
  @media screen and (min-width: 120px) and (max-width: 720px) {
    .contact-info {
      text-align: center;
      font-size: 20px;
      border-right: none;
      margin-top: 10px;
      -webkit-box-flex: 2;
      -webkit-flex: 2;
          -ms-flex: 2;
              flex: 2 1 0%; }
      .contact-info ul {
        line-height: 29px;
        padding-left: 0;
        border-top: 2px solid blue;
        margin-right: 0;
        padding-top: 20px; }
      .contact-info .dribbble,
      .contact-info .linkedin {
        display: inline-block;
        margin-top: 10px;
        text-decoration: underline; } }

.about {
  margin-top: 80px;
  font-weight: 300;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: 1.3px; }
  .about .highlighted-container {
    position: relative;
    display: inline-block; }

@-webkit-keyframes slideInFromLeft {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes slideInFromLeft {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
  .about .highlight-stripe {
    -webkit-transition-duration: .75s;
         -o-transition-duration: .75s;
            transition-duration: .75s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    position: absolute;
    background-color: #f5a623;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
    width: 100%;
    height: 12px;
    top: 57%;
    bottom: 5px;
    left: 0px;
    opacity: .4;
    -webkit-animation: 1.7s ease-out 0.5s 1 slideInFromLeft;
            animation: 1.7s ease-out 0.5s 1 slideInFromLeft; }
  @media screen and (min-width: 120px) and (max-width: 720px) {
    .about {
      margin-top: 60px; } }

.hobby {
  margin-bottom: 60px; }

.experiences {
  margin-top: 100px; }
  .experiences .contents {
    padding: 60px 0; }
  .experiences .skills {
    margin: 0;
    margin-bottom: 40px;
    color: #134db6;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-weight: 700; }
    @media screen and (min-width: 120px) and (max-width: 720px) {
      .experiences .skills {
        font-size: 20px; } }
  .experiences .sub-title {
    font-size: 19px;
    font-weight: 600;
    display: block; }
  .experiences .date {
    font-weight: 300;
    font-size: 17px;
    color: #7f8690;
    display: block; }
  .experiences .content {
    margin-bottom: 30px; }
    .experiences .content:last-child {
      margin-bottom: 0; }
  .experiences .sub-title,
  .experiences .text,
  .experiences .date {
    margin-bottom: 5px; }
  .experiences .text {
    letter-spacing: .5px; }
  .experiences .languages {
    margin: 0;
    margin-bottom: 40px;
    color: #fe3322;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-weight: 700; }
    @media screen and (min-width: 120px) and (max-width: 720px) {
      .experiences .languages {
        font-size: 20px; } }
  .experiences .left-side,
  .experiences .right-side {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1 1 0%;
    width: 100%;
    height: 100%; }
  .experiences .left-side {
    padding-right: 40px;
    border-right: 1px solid #cccccc; }
  .experiences .right-side {
    padding-left: 40px; }
  .experiences .work {
    margin: 0;
    margin-bottom: 40px;
    color: #f5a623;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-weight: 700; }
    @media screen and (min-width: 120px) and (max-width: 720px) {
      .experiences .work {
        font-size: 20px; } }
  .experiences .education {
    margin: 0;
    margin-bottom: 40px;
    color: #16bc98;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-weight: 700; }
    @media screen and (min-width: 120px) and (max-width: 720px) {
      .experiences .education {
        font-size: 20px; } }
  @media screen and (min-width: 120px) and (max-width: 720px) {
    .experiences {
      margin-top: 40px; }
      .experiences .text {
        font-size: 17px;
        display: inline-block;
        line-height: 27px; }
      .experiences .left-side {
        border-right: none; }
      .experiences .right-side {
        padding-left: 0;
        padding-right: 40px; }
      .experiences .contents {
        padding: 45px 0; } }

.experiences-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (min-width: 120px) and (max-width: 720px) {
    .experiences-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.ball-right {
  position: absolute;
  background-color: #f5a623;
  border-radius: 51%;
  opacity: .09;
  z-index: -100;
  width: 1100px;
  height: 1100px;
  top: -50%;
  right: -20%; }
  @media screen and (min-width: 120px) and (max-width: 720px) {
    .ball-right {
      display: none; } }

.bottom-ball-wrapper {
  position: relative; }

.ball-bottom {
  position: absolute;
  background-color: #134db6;
  border-radius: 51%;
  opacity: .09;
  z-index: -100;
  border-bottom-left-radius: 0;
  left: -25%;
  bottom: 0;
  width: 900px;
  height: 900px; }
  @media screen and (min-width: 120px) and (max-width: 720px) {
    .ball-bottom {
      display: none; } }

footer {
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  padding-bottom: 30px; }

.anim-header {
  -webkit-transition-duration: 1.25s;
       -o-transition-duration: 1.25s;
          transition-duration: 1.25s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .5s;
       -o-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.39, 0.985);
       -o-transition-timing-function: cubic-bezier(0, 0, 0.39, 0.985);
          transition-timing-function: cubic-bezier(0, 0, 0.39, 0.985);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
