.about-us {
  padding: 70px 0;
  border-bottom: 1px solid #e5e5e5;

  h2 {
    text-align: center;
    &:after {
      margin: 0 auto;
      margin-top: 10px;
    }
  }

  p {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .left-side {
    width: 20%;
    img {
      width: 100%;
      box-shadow: 10px 18px 54px 0px rgba(0,0,0,0.25);

    }
  }

  .right-side {
    margin-left: auto;
    width: 75%;
  }

  .text-highlight {
    font-weight: 500;
  }

  .prevoz {
    font-weight: 500;
    text-transform: uppercase;
  }

  .about-us-content {
    display: flex;
    margin-top: 40px;
  }

  	@include mediaquery(768px, 1023px) {
      .left-side {
        width: 25%;
      }

      .right-side {
        width: 70%;
      }
    }

    @include mediaquery(320px, 767px) {
      padding: 40px 0;
      .left-side {
        width: 70%;
      }

      .right-side {
        width: 95%;
        margin-left: inherit;
        text-align: center;
        margin-top: 40px;
        p {
          font-size: 16px;
          line-height: 30px;
        }
      }

      .about-us-content {
        flex-direction: column;
        align-items: center;
      }
    }
}

.kreditiranje {
  color: $white;
  text-align: center;
  padding: 50px 0;
  background-color: $light-green;

  h3 {
    line-height: 26px;
    text-transform: uppercase;
    margin: 20px 0 40px 0;
  }
}
