.about {
    // margin-top: 85px;
    // font-weight: 300;
    // font-size: 25px;
    // line-height: 40px;
    // letter-spacing: 0.7px;

    margin-top: 80px;
    font-weight: 300;
    font-size: 30px;
    line-height: 43px;
    letter-spacing: 1.3px;
    
    .highlighted-container {
        position: relative;
        display: inline-block;
    }

    @keyframes slideInFromLeft {
        0% {
          width: 0;
        }
        100% {
          width: 100%;
        }
      }
    
    .highlight-stripe {
        @include highlight-stripe($orange);
        animation: 1.7s ease-out 0s 1 slideInFromLeft;
    }

    
    
}

.hobby {
    margin-bottom: 60px;
}

