.btn-pregled {
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  background-color: $dark-green;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s;
  &:hover {
    background-color: $light-green;
  }
}

.btn-nekretnine {
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 25px;
  color: $white;
  background-color: $yellow;
  padding: 12px 18px;
  border-radius: 10px;
  transition: all 0.3s;
  &:hover {
    background-color: $yellow-light;
  }
}

.kontakt {
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  padding: 15px 18px;
  border: 1px solid $white;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s;
  &:hover {
    background-color: $white;
    color: $light-green;
  }
}

@include mediaquery(768px, 1023px) {
  .burger {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 20px;
    width: 25px;
    height: 50px;
    cursor: pointer;
  }

  .burger.open div {
      background: none;
  }

  .burger.open div::before, .burger.open div::after {
      top: 0;
  }

  .burger.open div::before {
      transform: rotate(-45deg);
  }

  .burger.open div::after {
      transform: rotate(45deg);
  }

  .burger:hover:not(.open) div::before {
      top: -10px;
  }

  .burger:hover:not(.open) div::after {
      top: 10px;
  }

  .burger div,
  .burger div::before,
  .burger div::after {
      width: 100%;
      height: 4px;
      background: $dark-green;
      transition:
          transform 0.3s ease,
          top 0.3s ease;
  }

  .burger div {
      position: relative;
      margin: 20px auto 0;
  }

  .burger div::before, div::after {
      content: '';
      position: absolute;
  }

  .burger div::before {
      top: -8px;
  }

  .burger div::after {
      top: 8px;
  }
}

  @include mediaquery(320px, 767px) {
    .burger {
      display: block;
      position: absolute;
      right: 0;
      margin-right: 20px;
      width: 25px;
      height: 50px;
      cursor: pointer;
    }

    .burger.open div {
        background: none;
    }

    .burger.open div::before, .burger.open div::after {
        top: 0;
    }

    .burger.open div::before {
        transform: rotate(-45deg);
    }

    .burger.open div::after {
        transform: rotate(45deg);
    }

    .burger:hover:not(.open) div::before {
        top: -10px;
    }

    .burger:hover:not(.open) div::after {
        top: 10px;
    }

    .burger div,
    .burger div::before,
    .burger div::after {
        width: 100%;
        height: 4px;
        background: $dark-green;
        transition:
            transform 0.3s ease,
            top 0.3s ease;
    }

    .burger div {
        position: relative;
        margin: 20px auto 0;
    }

    .burger div::before, div::after {
        content: '';
        position: absolute;
    }

    .burger div::before {
        top: -8px;
    }

    .burger div::after {
        top: 8px;
    }
  }
