.experiences {
    opacity: 0;
    margin-top: 100px;
    animation: 1.5s ease-out 5s 1 aboutOpacity;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1.9s;

    .contents {
        padding: 50px 0;
    }
    
    .skills {
        @include title($blue);
    }
    
    .sub-title {
        @include sub-title();
    }
    
    .date {
        @include date();
    }
    
    .content {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: $blue;
    }
    
    .sub-title,
    .text,
    .date {
        margin-bottom: 5px;
    }
    
    .text {
        letter-spacing: .5px;
        font-size: 18px;
        line-height: 27px;
    }
    
    .languages {
        @include title($red);
    }
    
    .left-side,
    .right-side {
        flex: 1;
        width: 100%;
        height: 100%;
    }
    
    .left-side {
        padding-right: 40px;
    }
    
    .right-side {
        padding-left: 40px;
        border-left: 1px solid #cccccc;
    }
    
    .work {
        @include title($orange);
    }
    
    .education {
        @include title($green);
    }

    @keyframes aboutOpacity {
        0% {
            // margin-top: 180px;
            transform: translateY(180px);
            opacity: 0;
        }

        100% {
            transform: translate(0);
            opacity: 1;
        }
    }
    
    @include mediaquery(120px, 720px) {
        margin-top: 40px;
        .text {
            font-size: 17px;
            display: inline-block;
            line-height: 27px;
        }
        
        .right-side {
            padding-left: 0;
            padding-right: 40px;
            border-left: none;
        }
        
        .contents {
            padding: 45px 0;
        }
    }
}

.experiences-wrapper {
    display: flex;
    @include mediaquery(120px, 720px) {
        flex-direction: column;
    }
}