.contact-nav {
	background-color: $dark-green;
	color: $white;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	p {
		display: inline-block;
		padding: 18px 10px;
		border-right: 1px solid rgba(255, 255, 255, 0.47);
		margin: 0 5px;
		&:hover {
			text-decoration: underline;
		}
	}

	.right-side {
		img {
			height: 25px;
		}
		a {
			margin-left: 20px;
		}
	}

	@include mediaquery(320px, 767px) {
		display: none;
	}

}

header {
	background-color: $white;
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.1);
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	@include mediaquery(768px, 1023px) {
		.logo {
			width: 280px;
		}
	}

	@include mediaquery(320px, 767px) {
		position: fixed;
		width: 100%;
		z-index: 2000;
		.logo {
			width: 200px;
		}
	}
}

nav {
	margin-left: auto;
	font-weight: 500;
	li {
		display: inline-block;
		margin-left: 20px;
		&:first-child {
			margin-left: 0;
		}
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15px;
		padding-bottom: 32px;
		color: $black;
		transition: all 0.2s;
		&:hover {
			color: $dark-green;
			border-bottom: 5px solid $dark-green;
		}
	}

	.active {
		color: $dark-green;
		border-bottom: 5px solid $dark-green;
	}

	@include mediaquery(768px, 1023px) {
		top: 134px;
		padding: 25px 0;
		z-index: 100;
		display: none;
		position: absolute;
		background-color: $dark-green;
		width: 100%;
		margin-left: inherit;
		left: 0;
		text-align: center;
		li {
			display: block;
			margin-bottom: 9px;
			margin-left: inherit;
			border-bottom: 1px solid $white;
			padding: 8px 0;
		}

		a {
			color: $white;
			font-size: 18px;
			padding: inherit;
			&:hover {
				color: $white;
				border-bottom: 0;
			}
		}

		.active {
			color: $white;
			border-bottom: 0;
		}


	}

	@include mediaquery(320px, 767px) {
		top: 74px;
		padding: 75px 0 25px 0;
		z-index: 100;
		display: none;
		position: absolute;
		background-color: $dark-green;
		width: 100%;
		margin-left: inherit;
		left: 0;
		text-align: center;
		li {
			display: block;
			margin-bottom: 9px;
			margin-left: inherit;
			border-bottom: 1px solid $white;
			padding: 8px 0;
		}

		a {
			color: $white;
			font-size: 18px;
			padding: inherit;
			&:hover {
				color: $white;
				border-bottom: 0;
			}
		}

		.active {
			color: $white;
			border-bottom: 0;
		}

		nav {
			a {
				padding: inherit;
			}
		}
	}
}

.flags {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 40px;
	li {
		display: inline-block;
		margin-left: 14px;
		transition: all 0.3s;
		position: relative;
		&:first-child {
			margin-left: 0;
		}
	}

	a {
		transition: all 0.3s;
		&:hover {
			border-bottom: 2px solid $dark-green;
		}
	}

	.selected-lang {
		border-bottom: 2px solid $dark-green;
	}

	@include mediaquery(768px, 1023px) {
		margin-right: 60px
	}

	@include mediaquery(320px, 767px) {
		img {
			width: 33px;
		}
		display: none;
		position: absolute;
    top: 95px;
    z-index: 1001;
		left: 50%;
		margin-left: -60px;
	}

}
