#slippry-demo {
  .first-slider {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    line-height: 38px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 8px;
  }

  .second-slider {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 58%;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    line-height: 38px;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 8px;
  }

  .third-slider {
    position: absolute;
    z-index: 100;
    top: 38%;
    left: 60%;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    line-height: 38px;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 8px;
  }
}
